/*   IMPORT FONTS
   ================================================== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,800;1,200;1,300&display=swap');


//   FONTS
// ==================================================

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-size: 16px;
$font-weight: 300;


//   COLORS
// ==================================================

$color-primary: #be945b;
$color-grey-dark-1: #7b7b7b;
$color-grey-dark-2: #111;
$color-grey-dark-3: #141414;
$color-black: #000;
$color-white: #fff;


//   VARIABLES
// ==================================================

$container: 1300px;


// ================================================
//   RESPONSIVE
// ================================================

@mixin breakpoint-down-4 {
    @media only screen and (max-width: 479px) { @content; }
}
@mixin breakpoint-down-7 {
    @media only screen and (max-width: 767px) { @content; }
}
@mixin breakpoint-down-9 {
    @media only screen and (max-width: 991px) { @content; }
}
@mixin breakpoint-custom($breakpoint, $what-width: max-width) {
    @media only screen and ($what-width: $breakpoint) { @content; }
}

// Це не точка розриву - це базовий розмір контейнера наприклад 1170px
// @mixin viewport-11 {
//     @media only screen and (max-width: 1164px) { @content; }
// }

// @include phone {}
// 1024, 1200
// 375, 640, 660, 840, 960, 1024, 1280, 1400


/* ================================================
     BASE
   ================================================ */

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #040404;
    color: #fff;
}

body {
    font-family: $font-primary;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color-grey-dark-1;

    -webkit-font-smoothing: antialiased;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
    transition: color .2s ease-out;
}

.container {
    max-width: $container + 60px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

img {
    max-width: 100%;
	height: auto;
	display: block;
}