//   FONTS
// ==================================================
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Aleo', serif;


//   COLORS
// ==================================================

$color-primary: #5474fd;
$color-grey: #e8e8e8;


/* ================================================
     BASE AND CSS RESET
   ================================================ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $color-grey;
}

body {
    background-color: #fff;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 300;
    color: $color-grey;
    margin: 15px;

    @media only screen and (max-width: 650px) {
        margin: 0;
    }
}

h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-family: $font-secondary;
    font-size: 36px;
    font-weight: normal;
    color: #fff;
}

h3 {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -.7px;
}

a:link,
a:visited {
    color: $color-grey;
    text-decoration: none;
    transition: color .2s;
}

a:hover,
a:active {
    color: lighten(#fff, 15%);
    text-decoration: none;
}

img {
    width: 100%;
}