/* ================================================
     TYPOGRAPHY
   ================================================ */

%heading {
    font-family: $font-primary;
    font-weight: $font-weight;
}

.heading-1 {
    @extend %heading;
    font-size: $font-size + 4px;

    // &--light {}
}