@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');

/* ================================================
     BASE AND CSS RESET
   ================================================ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

::selection {
    background-color: darkgoldenrod;
    color: #fff;
}

body {
    background-color: Chocolate;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    margin: 30px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: snow;
    text-align: center;
    margin: 40px 0 50px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #333;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 16px 0 8px;
    color: #333;
}

.container {
    width: 550px;
    margin: 0 auto;
}

.form-box {
    background-color: snow;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 5px rgba(0,0,0, .15);
}

.form-box:not(:last-child) {
    margin-bottom: 30px;
}

.form-box p {
    margin-bottom: 8px;
}

input,
textarea {
    border: none;
    outline: none;
    border : 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-right: 1px;
}

input {
    width: 64px;
}

textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.long {
    width: 224px;
}

select {
    border: none;
    outline: none;
    border : 1px solid #ccc;
    border-radius: 4px;
    width: 40px;
    height: 34px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    margin-right: 1px;
}

button {
    border: none;
    outline: none;
    background-color: ForestGreen;
    border-radius: 4px;
    padding: 10px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: .4px;
    transition: all .2s;
    margin-left: 3px;

    cursor: pointer;
}

button:hover {
    background-color: Green;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(1px);
}

.h-inline {
    display: inline;
    margin-right: 2px;
    line-height: 1.4;
}

.inline-box {
    margin: 16px 0 -8px 0;
}

.btn {
    margin-left: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.icons {
    width: 45px;
}


img {
    width: 100%;
}


.box {
    padding: 15px 0 5px;
}

th, td {
    font-size: 14px;
    color: #333;
    padding: 15px 30px;
}

th {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .5px;
    background-color: goldenrod;
    cursor: pointer;
}

td {
    background-color: LightGray;
}

.resize-table {
    max-width: 800px;
    min-width: 320px;
}

.text-block {
    position: relative;
    min-height: 64px;
    max-height: 120px;
    width: 60%;
    padding: 15px;
    border: 2px solid goldenrod;
    overflow: hidden;
}

.resize-btn {
    position: absolute;
    bottom: -6px; right: -6px;
    width: 14px;
    height: 14px;
    background-color: transparent;
    cursor: nwse-resize;
}

.task3 {
    height: 250px;
}