/* ================================================
     TYPOGRAPHY
   ================================================ */

%heading {
    font-family: $font-primary;
    font-weight: $font-weight;
}

.heading-2 {
    @extend %heading;
    font-size: $font-size + 64px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: $color-white;
}

.heading-3 {
    @extend %heading;
    font-size: $font-size + 28px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: $color-grey-dark-1;

    @include phone-land {
        font-size: $font-size + 24px;
    }

    @include phone {
        font-size: $font-size + 17px;
    }

    &::before {
        content: '';
        display: block;
        margin: 0 auto 37px;
        width: 100px;
        height: 1px;
        background-color: $color-grey-dark-1;
    }

    &--light {
        color: $color-white;

        &::before {
            background-color: $color-white;
        }
    }
}

.heading-4 {
    @extend %heading;
    font-size: $font-size + 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-grey-dark-1;

    @include phone-land {
        font-size: $font-size + 22px;
    }

    @include phone {
        font-size: $font-size + 18px;
    }

    &--small {
        font-size: $font-size + 6px;
        letter-spacing: .2px;
        line-height: 1.55;
    }
}


%dots {
    width: 9px;
    height: 9px;
    border: 1px solid $color-white;
    border-radius: 50%;
}

%dots-active {
    width: 9px;
    height: 9px;
    background-color: $color-white;
}

%social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba($color-white, .4);
    border-radius: 50%;
    color: $color-white;
}


.social {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__icon {
        @extend %social-icon;
        transition: all .3s;
    
        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover {
            background-color: $color-white;
            color: rgb(126,90,255);
        }
    }
}


.icon-menu {
    display: none;

    @include tablet {
        display: block;
        position: relative;
        width: 38px;
        height: 26px;
        cursor: pointer;
        z-index: 10;

        span {
            position: absolute;
            top: calc(50% - 1px);
            left: 4px;
            width: calc(100% - 8px);
            height: 2px;
            background-color: $color-white;
            transition: all .2s;

            &:first-child {
                top: 4px;
            }
        
            &:last-child {
                top: auto;
                bottom: 4px;
            }
        }
    }
    
    &.active {
        z-index: 50;
        
        span {
            opacity: 0;

            &:first-child {
                transform: rotate(-45deg);
                top: calc(50% - 1px);
                opacity: 1;
            }

            &:last-child {
                transform: rotate(45deg);
                top: calc(50% - 1px);
                opacity: 1;
            }
        }

        + .top__icon-menu-bg {
            @include tablet {
                opacity: 1;
                visibility: visible;
                z-index: 40;
                transform: scale(1000);
            }
        }
    }
    
}