.contact {
    position: relative;

    &__map {
        display: block;
        width: 100%;
        height: 700px;
    }

    &__container {
        margin: 0 auto;
        position: absolute;
        bottom: -148px; left: 50%;
        transform: translateX(-50%);
        max-width: $container-footer;

        @include phone {
            padding: 0;
        }
    }

    &__body {
        padding: 60px 60px 72px;
        background: bottom no-repeat url(../img/contact-bg.png);
        background-color: $color-white;

        @include phone-land {
            padding: 60px 40px 72px;
        }

        @include phone {
            padding: 60px 30px 72px;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: 47px;

        @include phone-land {
            flex-direction: column;
            align-items: center;
        }
    }

    &__heading-3 {
        &::before {
            margin: 0 auto 26px;
        }
    }

    &__info {
        flex: 1 0 auto;
        margin-right: 20px;
        
        @include phone-land {
            margin-right: 0;
        }
    }

    &__form {
        flex-basis: 48%;
    }
}



.contact-info {
    font-size: $font-size + 2px;
    line-height: 1.89;
    color: $color-grey-dark-1;

    @include phone-land {
        margin-bottom: 70px;
    }

    @include phone {
        font-size: $font-size;
    }

    &__list {
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__icon {
        margin-right: 4px;
        color: #7e5aff;
    }
}



.contact-form {
    @include phone-land {
        max-width: 400px;
        width: 100%;
    }

    &__input {
        margin-left: auto;
        max-width: 310px;
        width: 100%;

        @include phone-land {
            max-width: 100%;
        }

        &:first-child {
            margin-bottom: 36px;
        }
    }

    &__btn {
        margin-top: 30px;
        margin-left: auto;
    }
}