/* ================================================
     BASE AND CSS RESET
   ================================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */ }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%;
      /* 1rem = 8px */ } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 43.75%;
      /* 1rem = 7px */ } }

::selection {
  background-color: #f9be2d;
  color: #fff; }

body {
  font-family: Georgia, sans-serif;
  color: #000;
  font-weight: 400;
  background-color: #464f54; }

/* ================================================
     TYPOGRAPHY
   ================================================ */
.heading-1 {
  font-family: Georgia, sans-serif;
  font-weight: 400; }

.heading-1 {
  font-family: 'Hind', sans-serif;
  font-size: 7.8rem;
  font-weight: 700;
  color: #2A2A2A;
  letter-spacing: .38rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 43.75em) {
    .heading-1 {
      font-size: 6rem; } }

.paragraph {
  font-size: 2.7rem;
  line-height: 4rem;
  margin-bottom: 2.3rem; }

/* ================================================
     @FONT-FACE
   ================================================ */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local("Playfair Display"), url("../fonts/Playfair_Display/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("ttf"), url("../fonts/Playfair_Display/PlayfairDisplay-Regular.eot") format("eot"); }

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova"), url("../fonts/Proxima_Nova/ProximaNova_Regular.woff") format("woff"), url("../fonts/Proxima_Nova/ProximaNova_Regular.ttf") format("ttf"), url("../fonts/Proxima_Nova/ProximaNova_Regular.eot") format("eot"); }

@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 700;
  src: local("Hind"), url("../fonts/Hind/Hind-Bold.woff") format("woff"), url("../fonts/Hind/Hind-Bold.ttf") format("ttf"), url("../fonts/Hind/Hind-Bold.eot") format("eot"); }

.editor {
  margin-top: 4.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  z-index: 10; }
  @media only screen and (max-width: 35em) {
    .editor {
      margin-top: 0; } }
  .editor__title {
    width: 69.3%;
    background-color: #181818;
    padding: 4.8rem 0 5rem 6.5rem; }
    @media only screen and (max-width: 43.75em) {
      .editor__title {
        width: 79.3%; } }
    @media only screen and (max-width: 35em) {
      .editor__title {
        width: 100%; } }
    .editor__title label {
      display: block;
      font-family: 'Proxima Nova', sans-serif;
      font-size: 1.5rem;
      color: #767676;
      letter-spacing: .48rem;
      text-transform: uppercase;
      margin-bottom: -0.4rem; }
  .editor__input-title {
    width: 100%;
    border: 0;
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 4.8rem;
    color: #fefefe;
    padding-bottom: 1rem;
    border-bottom: 0.3rem solid rgba(255, 255, 255, 0.1); }
    .editor__input-title:focus {
      outline: 0; }
  .editor__bar {
    width: 64.8%;
    display: flex;
    align-items: center;
    background-color: #f9be2d;
    padding: 1.9rem 1.9rem 1.9rem 4.2rem; }
    @media only screen and (max-width: 43.75em) {
      .editor__bar {
        width: 74.8%; } }
    @media only screen and (max-width: 35em) {
      .editor__bar {
        width: 100%;
        justify-content: center; } }
  .editor__icon {
    width: 3.8rem;
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    opacity: .5;
    transition: opacity .3s ease; }
    .editor__icon:hover {
      opacity: 1; }
    .editor__icon:nth-child(4) {
      opacity: 1; }

.main-box {
  max-width: 106rem;
  margin: -16.1rem auto 0 auto;
  background-color: #fff;
  box-shadow: 0 0 3.5rem rgba(0, 0, 0, 0.22);
  display: flex;
  position: relative;
  z-index: 1; }
  .main-box__content {
    padding: 20.2rem 12rem 1rem 5.2rem; }
    @media only screen and (max-width: 62.5em) {
      .main-box__content {
        padding: 20.2rem 7rem 1rem 5.2rem; } }
    @media only screen and (max-width: 50em) {
      .main-box__content {
        padding: 20.2rem 4rem 1rem 4rem; } }
  .main-box__line {
    border-left: .2rem solid #e8eced;
    margin-left: 6.8rem; }
  .main-box__date {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 2rem;
    color: #b4b4b4;
    letter-spacing: .438rem;
    text-transform: uppercase;
    margin-bottom: 4.1rem; }
  .main-box__sub-title {
    font-size: 3rem;
    font-style: italic;
    color: #8f8f8f;
    margin-bottom: 4.8rem; }
