.blog {

    /* ================================================
        BASE
    ================================================ */

    $color-primary-blog: #b07cf7;
    $color-secondary-blog: #f72b3b;



    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
    background-color: $color-primary-blog;
    padding: 0 1rem;

    @media only screen and (max-width: 25em) { // 400px
        padding: 0;
    }



    /* ================================================
        TYPOGRAPHY
    ================================================ */

    %heading {
        font-family: $font-primary;
        font-weight: 400;
    }

    .heading-1 {
        @extend %heading;
        font-size: 9rem;
        font-weight: 700;
        color: #fff;
        text-align: center;
        margin-bottom: 3.1rem;

        @media only screen and (max-width: 43.75em) { // 700px
            font-size: 7rem;
        }
    }

    .heading-2 {
        @extend %heading;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin-bottom: 0;
    }

    .paragraph {
        line-height: 2.5rem;
    }

    .btn {
        border: none;
        display: block;
        background-color: $color-secondary-blog;
        box-shadow: 0px .2rem .5rem 0 rgba(0, 0, 0, 0.5);

        margin: 0 auto;
        padding: 1.7rem 4.7rem;

        font-size: 2rem;
        font-weight: 300;
        color: #fff;
        letter-spacing: .06rem;
        text-transform: uppercase;

        transition: background-color .3s,
                    transform .3s;

        &:hover {
            background-color: #f1091c;
            transform: translateY(-3px);
        }
    }



    /* ================================================
        BLOG
    ================================================ */

    .container {
        padding: 8.9rem 0 12.1rem;
        margin: 0 auto;

        @media only screen and (max-width: 53.125em) { // 850px
            margin: 6rem auto 0;
        }

        @media only screen and (max-width: 43.75em) { // 700px
            padding: 5rem 0;
        }

        @media only screen and (max-width: 37.5em) { // 600px
            margin: 4rem auto 0;
        }
    }

    .description {
        max-width: 50%;
        margin: 0 auto 3.4rem auto;
        text-align: center;

        @media only screen and (max-width: 65.625em) { // 1050px
            max-width: 60%;
        }

        @media only screen and (max-width: 56.25em) { // 900px
            max-width: 75%;
        }

        @media only screen and (max-width: 43.75em) { // 700px
            max-width: 85%;
        }
    }


    /* ================================================
        POSTS
    ================================================ */

    .posts {
        max-width: 117rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto 4rem;

        &__item {
            flex-basis: 37rem;
            flex-shrink: 0;
            height: 31rem;
            position: relative;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
            margin: 1rem;

            @media only screen and (max-width: 25em) { // 400px
                flex-basis: 100%;
            }

            &--1 {
                background-image: linear-gradient(
                    to bottom,
                    transparent,
                    rgba(0,0,0, .65)),
                url(../img/post-1.jpg);
                background-size: cover;
                background-position: center center;
            }

            &--2 {
                background-image: linear-gradient(
                    to bottom,
                    transparent,
                    rgba(0,0,0, .65)),
                url(../img/post-2.jpg);
                background-size: cover;
                background-position: center center;
            }

            &--3 {
                background-image: linear-gradient(
                    to bottom,
                    transparent,
                    rgba(0,0,0, .65)),
                url(../img/post-3.jpg);
                background-size: cover;
                background-position: center center;
            }

            .heading-2 {
                position: absolute;
                bottom: 5.6rem;
                left: 2rem;
            }
        }

        &__date {
            position: absolute;
            top: 3rem;
            left: 3rem;

            background-color: rgba(#262626, .5);
            border-radius: .5rem;
            padding: .2rem .8rem .5rem;

            font-size: 3.2rem;
            font-weight: 700;
            text-align: center;

            span {
                display: block;
                font-size: 2.1rem;
                text-transform: uppercase;
            }
        }

        &__heading-2 {
            text-align: left;
        }

        &__author {
            position: absolute;
            bottom: 2.4rem;
            left: 2rem;
            font-size: 1.3rem;
        }
    }
}