/* ================================================
     TYPOGRAPHY
   ================================================ */

%heading {
    font-family: $font-primary;
    font-weight: 400;
    color: inherit;
}

.heading-1 {
    @extend %heading;
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 2rem;

    @media only screen and (max-width: 56.25em) { // 900px
        font-size: 6rem;
        
    }
}

.heading-2 {
    @extend %heading;
    font-size: 9rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.6rem;

    @media only screen and (max-width: 62.5em) { // 1000px
        font-size: 7rem;
    }

    @media only screen and (max-width: 43.75em) { // 1000px
        text-align: center;
    }
}

.heading-4 {
    @extend %heading;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.paragraph {
    font-size: 1.7rem;
    line-height: 2.7rem;

    @media only screen and (max-width: 43.75em) { // 1000px
        text-align: center;
        padding: 0 2rem;
    }

    &:not(:last-child) {
        margin-bottom: 1.1rem;
    }
}

.btn {
    border: none;
    background-color: $color-primary;
    padding: 1.8rem 3.1rem;
    margin-top: .6rem;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px rgba(0,0,0, .5);
    transition: transform .2s,
                background-color .2s;

    &:hover {
        background-color: #ff5324;
        transform: translateY(-.3rem);
    }
}

.logo {
    display: block;
    width: 12.7rem;
    height: 5.2rem;

    @media only screen and (max-width: 56.25em) { // 900px
        margin-bottom: 4rem;
    }
}

%active {
    border-top: .3rem solid $color-primary !important;
}

.active {
    @extend %active;
}