@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham-book/gotham-book.eot");
  src: url("../fonts/gotham-book/gotham-book.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-book/gotham-book.woff") format("woff"), url("../fonts/gotham-book/gotham-book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham-regular/gotham-regular.woff2") format("woff2"), url("../fonts/gotham-regular/gotham-regular.woff") format("woff"), url("../fonts/gotham-regular/gotham-regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham-bold/gotham-bold.eot");
  src: url("../fonts/gotham-bold/gotham-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold/gotham-bold.woff") format("woff"), url("../fonts/gotham-bold/gotham-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* VARIABLES
   ================================================ */
/* ================================================
     RESPONSIVE
   ================================================ */
/* ================================================
     BASE AND CSS RESET
   ================================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

::selection {
  background-color: #7e5aff;
  color: #fff;
}

body {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #2c4058;
}

a:link,
a:visited {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover::after,
a:active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 30px auto;
  padding: 0 30px;
}

input,
button {
  display: block;
}

input {
  border: none;
  outline: none;
  padding: 1px 0 15px;
  width: 100%;
  border-bottom: 1px solid rgba(44, 64, 88, 0.2);
  font-size: 18px;
  color: #2c4058;
  transition: all 0.3s;
}
input::placeholder {
  color: rgba(75, 85, 98, 0.5);
}
input:focus {
  border-bottom: 1px solid #2c4058;
}

button {
  padding: 17px 41px;
  border: solid 1px #2c4058;
  font-size: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #2c4058;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background-color: #2c4058;
  color: #fff;
}

/* ================================================
     TYPOGRAPHY
   ================================================ */
.heading-4, .heading-3, .heading-2 {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
}

.heading-2 {
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
}

.heading-3 {
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #2c4058;
}
@media only screen and (max-width: 767px) {
  .heading-3 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 479px) {
  .heading-3 {
    font-size: 33px;
  }
}
.heading-3::before {
  content: "";
  display: block;
  margin: 0 auto 37px;
  width: 100px;
  height: 1px;
  background-color: #2c4058;
}
.heading-3--light {
  color: #fff;
}
.heading-3--light::before {
  background-color: #fff;
}

.heading-4 {
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
  color: #2c4058;
}
@media only screen and (max-width: 767px) {
  .heading-4 {
    font-size: 38px;
  }
}
@media only screen and (max-width: 479px) {
  .heading-4 {
    font-size: 34px;
  }
}
.heading-4--small {
  font-size: 22px;
  letter-spacing: 0.2px;
  line-height: 1.55;
}

.slick-dots li::before, .menu__item::before {
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.slick-active::before {
  width: 9px;
  height: 9px;
  background-color: #fff;
}

.social__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  color: #fff;
}

.social {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.social__icon {
  transition: all 0.3s;
}
.social__icon:not(:last-child) {
  margin-right: 20px;
}
.social__icon:hover {
  background-color: #fff;
  color: #7e5aff;
}

.icon-menu {
  display: none;
}
@media only screen and (max-width: 991px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 38px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span {
    position: absolute;
    top: calc(50% - 1px);
    left: 4px;
    width: calc(100% - 8px);
    height: 2px;
    background-color: #fff;
    transition: all 0.2s;
  }
  .icon-menu span:first-child {
    top: 4px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 4px;
  }
}
.icon-menu.active {
  z-index: 50;
}
.icon-menu.active span {
  opacity: 0;
}
.icon-menu.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
  opacity: 1;
}
.icon-menu.active span:last-child {
  transform: rotate(45deg);
  top: calc(50% - 1px);
  opacity: 1;
}
@media only screen and (max-width: 991px) {
  .icon-menu.active + .top__icon-menu-bg {
    opacity: 1;
    visibility: visible;
    z-index: 40;
    transform: scale(1000);
  }
}

.header {
  position: relative;
}
.header__top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 23px 0 0;
  z-index: 10;
}
.header__arrow-down {
  position: absolute;
  bottom: 6.1%;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 479px) {
  .header__arrow-down {
    display: none;
  }
}
@media only screen and (max-height: 300px) {
  .header__arrow-down {
    display: none;
  }
}

.top {
  padding: 12px 0;
}
.top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px auto 0;
}
@media only screen and (max-width: 1164px) {
  .top__container {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 479px) {
  .top__container {
    margin: 30px auto 0;
  }
}
@media only screen and (max-height: 479px) {
  .top__container {
    margin: 20px auto 0;
  }
}
.top__logo-link:hover::after {
  display: none;
}
.top__logo {
  height: 54px;
  width: auto;
  margin-right: 20px;
}
@media only screen and (max-width: 479px) {
  .top__logo {
    height: 44px;
  }
}
.top__menu {
  position: relative;
  margin-top: 4px;
  margin-left: 7.8%;
}
@media only screen and (max-width: 1164px) {
  .top__menu {
    margin-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .top__menu {
    display: none;
  }
  .top__menu.active {
    display: block;
    z-index: 50;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .top__menu.active .menu__list {
    flex-direction: column;
    justify-content: center;
  }
  .top__menu.active .menu__item {
    font-size: 28px;
  }
  .top__menu.active .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .top__menu.active .menu__item::before {
    display: none;
  }
}
.top__icon-menu {
  position: relative;
  transition: all 0.3s;
  order: 2;
}
@media only screen and (max-width: 991px) {
  .top__icon-menu-bg {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  }
}
.top__social {
  margin-top: -6px;
  margin-left: auto;
}
@media only screen and (max-width: 1164px) {
  .top__social {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .top__social {
    display: none;
  }
}

.menu {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 90px;
}
@media only screen and (max-width: 1164px) {
  .menu__item:not(:last-child) {
    margin-right: 55px;
  }
}
.menu__item::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -22px;
}

.active-menu::before {
  background-color: #fff;
}

.slider {
  background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}
.slider__slide {
  position: relative;
}
.slider__img {
  width: 100%;
  max-height: 800px;
  height: 100vh;
  opacity: 0.06;
}
.slider__img--1 {
  background: center/cover no-repeat url(../img/header-slide-1.jpg);
}
.slider__img--2 {
  background: center/cover no-repeat url(../img/header-slide-2.jpg);
}
.slider__img--3 {
  background: center/cover no-repeat url(../img/header-slide-3.jpg);
}
.slider__img--4 {
  background: center/cover no-repeat url(../img/header-slide-4.jpg);
}
.slider__img--5 {
  background: center/cover no-repeat url(../img/header-slide-5.jpg);
}
.slider__text {
  padding: 0 60px 0 30px;
  width: 100%;
  position: absolute;
  top: 53.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 479px) {
  .slider__text {
    padding: 0 30px;
  }
}
.slider__title {
  line-height: 1.1;
}
@media only screen and (max-width: 1164px) {
  .slider__title {
    font-size: 64px;
  }
}
@media only screen and (max-width: 991px) {
  .slider__title {
    font-size: 52px;
  }
}
@media only screen and (max-width: 479px) {
  .slider__title {
    font-size: 44px;
  }
}
@media only screen and (max-height: 479px) {
  .slider__title {
    font-size: 42px;
  }
}
@media only screen and (max-height: 360px) {
  .slider__title {
    font-size: 38px;
  }
}
.slider__subtitle {
  margin-top: 28px;
  font-size: 18px;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  color: #fff;
}
@media only screen and (max-width: 1164px) {
  .slider__subtitle {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
  .slider__subtitle {
    font-size: 12px;
  }
}
@media only screen and (max-height: 479px) {
  .slider__subtitle {
    margin-top: 15px;
  }
}

.slick-loading .slick-list {
  background: #fff url(../js/slick/ajax-loader.gif) center center no-repeat;
}

.slick-prev,
.slick-next {
  height: 50px;
  display: none !important;
}

.slick-dots {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  list-style: none;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .slick-dots {
    right: 30px;
  }
}
@media only screen and (max-width: 479px) {
  .slick-dots {
    display: none !important;
  }
}
@media only screen and (max-height: 479px) {
  .slick-dots {
    display: none !important;
  }
}
.slick-dots li:not(:last-child) {
  margin-bottom: 40px;
}
.slick-dots li::before {
  content: "";
  display: block;
}
.slick-dots li button {
  border: none;
  outline: none;
}
.slick-dots li button[role=tab] {
  display: none;
}

.arrow-down {
  cursor: pointer;
}
.arrow-down__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  color: #fff;
  transition: all 0.3s;
}
.arrow-down__icon:hover {
  background-color: #fff;
  color: #7e5aff;
}

.projects {
  padding: 99px 0 110px;
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .projects {
    padding: 79px 0 70px;
  }
}
.projects__heading-3 {
  margin-bottom: 162px;
}
@media only screen and (max-width: 479px) {
  .projects__heading-3 {
    margin-bottom: 100px;
  }
}
.projects__project:not(:last-child) {
  margin-bottom: 210px;
}
@media only screen and (max-width: 479px) {
  .projects__project:not(:last-child) {
    margin-bottom: 120px;
  }
}

.project {
  display: flex;
}
@media only screen and (max-width: 991px) {
  .project {
    flex-direction: column;
    align-items: center;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
  }
}
.project--left .project__photo-box {
  margin-right: 70px;
}
@media only screen and (max-width: 991px) {
  .project--left .project__photo-box {
    margin-right: 0;
  }
}
.project--left .project__photo-box::after {
  left: -260px;
  background-color: #55b7ff;
}
@media only screen and (max-width: 1164px) {
  .project--left .project__photo-box::after {
    left: -160px;
  }
}
@media only screen and (max-width: 479px) {
  .project--left .project__photo-box::after {
    left: -80px;
  }
}
.project--right .project__photo-box {
  margin-left: 70px;
}
@media only screen and (max-width: 991px) {
  .project--right .project__photo-box {
    order: -1;
    margin-left: 0;
  }
}
.project--right .project__photo-box::after {
  right: -260px;
  background-color: #7e5aff;
}
@media only screen and (max-width: 1164px) {
  .project--right .project__photo-box::after {
    right: -160px;
  }
}
@media only screen and (max-width: 479px) {
  .project--right .project__photo-box::after {
    right: -80px;
  }
}
.project__photo-box {
  position: relative;
  max-width: 630px;
  width: 100%;
  max-height: 470px;
  height: 100%;
  flex: 1 0 auto;
}
@media only screen and (max-width: 1164px) {
  .project__photo-box {
    flex-basis: 45%;
  }
}
.project__photo-box::after {
  content: "";
  display: block;
  position: absolute;
  top: -70px;
  width: 100%;
  height: 100%;
  z-index: -5;
}
@media only screen and (max-width: 767px) {
  .project__photo-box::after {
    top: -50px;
  }
}
@media only screen and (max-width: 479px) {
  .project__photo-box::after {
    top: -30px;
  }
}
.project__photo {
  width: 100%;
  height: auto;
}
.project__details {
  margin-top: 59px;
}
@media only screen and (max-width: 1164px) {
  .project__details {
    margin-top: 35px;
    flex-basis: 55%;
  }
}
.project__overtitle {
  font-size: 22px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #2c4058;
}
@media only screen and (max-width: 767px) {
  .project__overtitle {
    font-size: 20px;
  }
}
@media only screen and (max-width: 479px) {
  .project__overtitle {
    font-size: 18px;
  }
}
.project__heading-4 {
  margin-top: -4px;
}
.project__description {
  margin-top: 23px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 0.1px;
  line-height: 1.67;
  color: #4b5562;
}
.project__btn {
  margin-top: 32px;
}
.project__location {
  margin-top: 55px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: #2c4058;
}
@media only screen and (max-width: 991px) {
  .project__location {
    margin-top: 30px;
  }
}
.project__icon-marker {
  margin-top: 3px;
  margin-right: 7px;
}

.news {
  padding: 140px 0 110px;
  background-image: url(../img/news-bg.png), linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);
  background-repeat: no-repeat;
  background-position: bottom;
}
@media only screen and (max-width: 767px) {
  .news {
    padding: 100px 0;
  }
}
@media only screen and (max-width: 479px) {
  .news {
    padding: 80px 0;
  }
}
.news__container {
  max-width: 1260px;
  transform: translateX(15px);
}
@media only screen and (max-width: 1400px) {
  .news__container {
    max-width: 1010px;
  }
}
@media only screen and (max-width: 1150px) {
  .news__container {
    max-width: 830px;
  }
}
@media only screen and (max-width: 991px) {
  .news__container {
    max-width: 520px;
  }
}
@media only screen and (max-width: 670px) {
  .news__container {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 600px) {
  .news__container {
    max-width: 430px;
  }
}
@media only screen and (max-width: 479px) {
  .news__container {
    max-width: 410px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 420px) {
  .news__container {
    max-width: 360px;
  }
}
@media only screen and (max-width: 380px) {
  .news__container {
    max-width: 320px;
  }
}
.news__slider {
  margin-top: 90px;
}

.slider-news__slide {
  display: block;
  max-width: 370px;
  width: 100%;
  background-color: #fff;
}
.slider-news__slide:not(:last-child) {
  margin-right: 30px;
}
@media only screen and (max-width: 1400px) {
  .slider-news__slide {
    max-width: 460px;
  }
}
@media only screen and (max-width: 1150px) {
  .slider-news__slide {
    max-width: 370px;
  }
}
@media only screen and (max-width: 991px) {
  .slider-news__slide {
    max-width: 460px;
  }
}
@media only screen and (max-width: 600px) {
  .slider-news__slide {
    max-width: 370px;
  }
}
@media only screen and (max-width: 420px) {
  .slider-news__slide {
    max-width: 320px;
  }
}
@media only screen and (max-width: 380px) {
  .slider-news__slide {
    max-width: 280px;
  }
}
.slider-news__slide:hover .slider-news__img {
  cursor: pointer;
}
.slider-news__slide:hover .slider-news__img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.3;
}
.slider-news__slide:hover .slider-news__img::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 50%;
  background: center no-repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAO0lEQVRIiWP8//8/AwkApJiRWOVMpJhMKhg1fNTwUcMpBCzQLE0KIFo9CyllxWjZMmr4qOHDxnAGBgYAQ1gHLocvVtQAAAAASUVORK5CYII=");
}
.slider-news__img {
  position: relative;
}
.slider-news__img img {
  width: 100%;
  height: auto;
}
.slider-news__body {
  padding: 22px 20px 30px;
}
.slider-news__title {
  cursor: pointer;
}
.slider-news__description {
  margin-top: 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
  color: #4b5562;
}
.slider-news__author-box {
  margin-top: 32px;
  display: flex;
  align-items: center;
}
.slider-news__avatar {
  margin-right: 20px;
  max-width: 60px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.slider-news__name {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.3px;
  color: #2c4058;
  cursor: pointer;
}
.slider-news__date {
  margin-top: 15px;
  font-size: 14px;
  color: #55b7ff;
}
.slider-news .slick-dots {
  margin-top: 60px;
  position: static;
  display: flex;
  justify-content: center;
  transform: translateX(-15px);
}
.slider-news .slick-dots li {
  display: inline-block;
}
.slider-news .slick-dots li:not(:last-child) {
  margin-bottom: 0;
  margin-right: 40px;
}
.slider-news .slick-arrow {
  display: block !important;
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 0px;
  color: transparent;
  transition: all 0.3s;
  z-index: 10;
}
@media only screen and (max-width: 550px) {
  .slider-news .slick-arrow {
    display: none !important;
  }
}
.slider-news .slick-arrow::before {
  display: block;
  font-family: "icons" !important;
  font-size: 14px;
  color: #fff;
}
.slider-news .slick-arrow:hover, .slider-news .slick-arrow:focus {
  opacity: 0.6;
  background-color: transparent;
}
.slider-news .slick-prev {
  left: -99px;
}
@media only screen and (max-width: 670px) {
  .slider-news .slick-prev {
    left: -59px;
  }
}
.slider-news .slick-prev::before {
  content: "";
}
.slider-news .slick-next {
  right: -71px;
}
@media only screen and (max-width: 670px) {
  .slider-news .slick-next {
    right: -59px;
  }
}
.slider-news .slick-next::before {
  content: "";
}

.gallery {
  padding: 140px 0;
}
@media only screen and (max-width: 767px) {
  .gallery {
    padding: 100px 0;
  }
}
@media only screen and (max-width: 479px) {
  .gallery {
    padding: 80px 0;
  }
}
.gallery__container {
  padding: 0 30px;
}
@media only screen and (max-width: 767px) {
  .gallery__container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 479px) {
  .gallery__container {
    padding: 0 10px;
  }
}
.gallery__box {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5;
}
@media only screen and (max-width: 991px) {
  .gallery__box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 479px) {
  .gallery__box {
    margin-top: 70px;
    grid-template-columns: 1fr;
  }
}
.gallery__item {
  position: relative;
}
.gallery__item img {
  width: 100%;
  height: auto;
}
.gallery__item:first-child {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
@media only screen and (max-width: 479px) {
  .gallery__item:first-child {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
  }
}
.gallery__item:first-child::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: center/cover no-repeat url(../img/gallery-360.png);
}
.gallery__btn {
  display: block;
  margin: 52px auto 0;
  padding: 17px 57px;
}

.contact {
  position: relative;
}
.contact__map {
  display: block;
  width: 100%;
  height: 700px;
}
.contact__container {
  margin: 0 auto;
  position: absolute;
  bottom: -148px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 830px;
}
@media only screen and (max-width: 479px) {
  .contact__container {
    padding: 0;
  }
}
.contact__body {
  padding: 60px 60px 72px;
  background: bottom no-repeat url(../img/contact-bg.png);
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  .contact__body {
    padding: 60px 40px 72px;
  }
}
@media only screen and (max-width: 479px) {
  .contact__body {
    padding: 60px 30px 72px;
  }
}
.contact__box {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}
@media only screen and (max-width: 767px) {
  .contact__box {
    flex-direction: column;
    align-items: center;
  }
}
.contact__heading-3::before {
  margin: 0 auto 26px;
}
.contact__info {
  flex: 1 0 auto;
  margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  .contact__info {
    margin-right: 0;
  }
}
.contact__form {
  flex-basis: 48%;
}

.contact-info {
  font-size: 18px;
  line-height: 1.89;
  color: #2c4058;
}
@media only screen and (max-width: 767px) {
  .contact-info {
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 479px) {
  .contact-info {
    font-size: 16px;
  }
}
.contact-info__list {
  list-style: none;
}
.contact-info__item:not(:last-child) {
  margin-bottom: 32px;
}
.contact-info__icon {
  margin-right: 4px;
  color: #7e5aff;
}

@media only screen and (max-width: 767px) {
  .contact-form {
    max-width: 400px;
    width: 100%;
  }
}
.contact-form__input {
  margin-left: auto;
  max-width: 310px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .contact-form__input {
    max-width: 100%;
  }
}
.contact-form__input:first-child {
  margin-bottom: 36px;
}
.contact-form__btn {
  margin-top: 30px;
  margin-left: auto;
}

.footer {
  padding: 203px 0 206px;
  background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}
@media only screen and (max-width: 479px) {
  .footer {
    padding: 203px 0 130px;
  }
}
.footer__container {
  margin: 0 auto;
  max-width: 830px;
}
.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 479px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 479px) {
  .footer__social {
    margin-top: 25px;
  }
}
.footer__text {
  margin-top: 40px;
  font-size: 14px;
  color: #fff;
}
@media only screen and (max-width: 479px) {
  .footer__text {
    text-align: center;
  }
}
@media only screen and (max-width: 479px) {
  .footer__text span {
    display: none;
  }
}
.footer__text span:first-child {
  padding: 0 18px;
}