.header {
    width: 100%;
    height: 100vh;
    position: relative;

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px 0 67px;

        // position: fixed;
        // top: 0; right: 0;
        // z-index: 30;
        // background-color: $color-black;
    }

    &__text-box {

    }

    &__text-m {
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        max-width: 915px;
        width: 100%;
        height: 100%;
        background: center/cover no-repeat url(../img/slider-m-letter.png);
        z-index: 5;
    }

    &__text {
        display: block;
        position: absolute;
        top: 56.2%; left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        max-width: 580px;
        width: 100%;
        height: auto;
        z-index: 5;
    }

    &__logo,
    &__menu {
        position: relative;
        z-index: 10;
    }

    &__logo {
        display: block;
        width: auto;
        height: 72px;
    }

    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slider {
        position: absolute;
        top: 0; left: 0;
        display: block;
        width: 100%;
        height: 100%;


        /* Slider Image Transition */
        .slick-active {
            &::after {
                content: '';
                position: absolute;
                bottom: 0; left: 0;
                display: block;
                width: 100%;
                height: 8px;
                background-color: rgb(218, 210, 200);
        
                animation: ProgressSlide 5s both;
            }
        }
    }

    &__slider-item {
        display: block;
        width: 100%;
        height: 100vh;
        background-position: center top;
        background-position: left -40px top,
                             left 40px top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__prev,
    &__next {
        position: absolute;
        top: 0;
        display: block;
        width: 50%;
        height: 100%;
        z-index: 5;
    }

    &__prev {
        left: 0;
        cursor: url(../../img/icons/arrow-left.svg), auto;
    }

    &__next {
        right: 0;
        cursor: url(../../img/icons/arrow-right.svg), auto;
    }
}


.menu {
    background-color: #000;
    padding: 26px 64px 24px 62px;
    font-size: $font-size - 4px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: $color-white;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 84px;
        }

        /* Underlink link */
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -3px; left: 0;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            width: 0;
            transition: all .2s;
        }
    }

    &__active {
        &::after {
            opacity: 1;
            visibility: visible;
            width: 100%;
        }
    }

    a:link,
    a:visited {
        color: $color-white;
    }

    a:hover,
    a:active {
        &::after {
            opacity: 1;
            visibility: visible;
            width: 100%;
        }
    }

    &__info {
        margin-left: -9px;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;

        &:hover {

            .menu__icon {
                span {
                    &:first-child {
                        transform: translateY(7px);
                    }

                    &:last-child {
                        transform: translateY(-7px);
                    }
                }
            }
        }
    }

    &__icon {
        margin-left: 22px;
        display: inline-block;
        
        span {
            display: block;
            width: 48px;
            height: 2px;
            background-color: $color-white;
            transition: all .3s ease-in-out;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}