.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../img/slider-slide-1.png),
                      url(../img/slider-slide-2.png);
    background-position: left top,
                         left top;
    background-repeat: no-repeat;
    background-size: cover;

    &__topline {
        position: relative;
        padding: 5px 5px 0 67px;
        z-index: 50;

        @include breakpoint-custom(1366px) {
            padding: 5px 5px 0 45px;
        }

        @include breakpoint-custom(1024px) {
            padding: 0;
            background-color: $color-white;
        }
    }

    &__box {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__box-inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint-custom(1024px) {
            max-width: 868px;
            width: 100%;
            margin: 0 auto;
            padding: 8px 50px 7px;
        }
    }

    &__sticky {
        padding: 0 5px 0 67px;
        position: fixed;
        top: 0; right: 0;
        width: 100%;
        z-index: 100;
        background-color: $color-black;
        transition: all .6s cubic-bezier(.77,0,.175,1);

        @include breakpoint-custom(1024px) {
            background-color: $color-white;
            padding: 0;
        }

        &--out {
            background-color: $color-black; // Fixed Opacity Problem
            transform: translateY(-100%);
            transition: transform .6s ease;

            @include breakpoint-custom(1024px) {
                background-color: $color-white;
            }
        }
    }

    &__text-box {

    }

    &__text-m {
        display: block;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        max-width: 915px;
        width: 100%;
        height: 100%;
        background: center/cover no-repeat url(../img/slider-m-letter.png);
        z-index: 5;
    }

    &__text {
        display: block;
        position: absolute;
        top: 56.2%; left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        max-width: 580px;
        width: 100%;
        height: auto;
        z-index: 5;
    }

    &__logo,
    &__menu {
        // position: relative;
        // z-index: 10;
    }

    &__logo {
        display: block;
        width: auto;
        height: 72px;

        &--light {
            @include breakpoint-custom(1024px) {
                display: none;
            }
        }

        &--dark {
            display: none;

            @include breakpoint-custom(1024px) {
                display: block;
                height: 54px;
            }
        }
    }

    &__menu {
        @include breakpoint-custom(1024px) {
            visibility: hidden;
            opacity: 0;
            height: 0;
            // transition: height .2s ease-in-out,
            //             opacity .2s ease-in-out;
        }
    }

    &__slider {
        position: absolute;
        top: 0; left: 0;
        display: block;
        width: 100%;
        height: 100%;

        /* Slider Image Transition */
        .slick-active {

            &::after {
                content: '';
                position: absolute;
                bottom: 0; left: 0;
                display: block;
                width: 100%;
                height: 8px;
                background-color: rgb(218, 210, 200);
        
                animation: ProgressSlide 5s both;
            }
        }
    }

    &__slider-item {
        display: block;
        width: 100%;
        height: 100vh;
        background-position: left -40px top,
                             left 40px top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slick-active.header__slider-item {
        animation: HeaderSliderMove 1s both;
    }

    &__prev,
    &__next {
        position: absolute;
        top: 0;
        display: block;
        width: 50%;
        height: 100%;
        z-index: 5;
    }

    &__prev {
        left: 0;
        cursor: url(../img/icons/arrow-left.svg), auto;
    }

    &__next {
        right: 0;
        cursor: url(../img/icons/arrow-right.svg), auto;
    }
}


.menu {
    position: relative;
    background-color: #000;
    padding: 26px 64px 24px 20px;
    font-size: $font-size - 4px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: $color-white;
    z-index: 10;

    @include breakpoint-custom(1024px) {
        padding: 0;
        position: absolute;
        top: 69px; left: 0;
        
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        background-color: $color-white;
    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include breakpoint-custom(1024px) {
            display: flex;
            flex-direction: column;
            align-items: start;

            max-width: 868px;
            width: 100%;
            margin: 0 auto;
            padding: 0 50px;
        }
    }

    &__item {
        position: relative;
        margin: 0 42px;

        @include breakpoint-custom(1366px) {
            margin: 0 25px;
        }

        @include breakpoint-custom(1024px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 14px 0;
            width: 100%;
            
            &:not(:nth-last-child(2)) {
                border-bottom: 1px solid #e1e1e1;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0; right: 0;
                display: block;
                width: 20px;
                height: 20px;
                background-color: red;
            }
        }

        // &:not(:last-child) {
        //     margin-right: 84px;
        // }

        /* Underlink link */
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -3px; left: 0;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            width: 0;
            transition: all .2s;

            @include breakpoint-custom(1024px) {
                display: none;
            }
        }
    }

    &__active {
        &::after {
            opacity: 1;
            visibility: visible;
            width: 100%;
        }

        @include breakpoint-custom(1024px) {
            &:link,
            &:visited {
                color: $color-black !important;
            }
        }
    }

    a:link,
    a:visited {
        color: $color-white;

        @include breakpoint-custom(1024px) {
            color: $color-grey-dark-1;
            transition: all .2s;
        }
    }

    a:hover,
    a:active {
        &::after {
            opacity: 1;
            visibility: visible;
            width: 100%;

            @include breakpoint-custom(1024px) {
                display: none;
            }
        }

        @include breakpoint-custom(1024px) {
            color: $color-black;
        }
    }

    &__info {
        margin-left: 34px;
        display: flex;
        height: 50px;
        justify-content: center;
        align-items: center;

        @include breakpoint-custom(1366px) {
            margin-left: 20px;
        }

        @include breakpoint-custom(1024px) {
            display: none;
        }

        &:hover {

            .menu__icon {
                span {
                    &:first-child {
                        transform: translateY(7px);
                    }

                    &:last-child {
                        transform: translateY(-7px);
                    }
                }
            }
        }
    }

    &__icon {
        margin-left: 22px;
        display: inline-block;
        
        span {
            display: block;
            width: 48px;
            height: 2px;
            background-color: $color-white;
            transition: all .3s ease-in-out;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__icon-arrow {
        display: none;
        width: 15px;
        height: 15px;
        background: center/cover no-repeat url(../img/icons/arrow-burger-menu.svg);
        background-size: 40%;

        @include breakpoint-custom(1024px) {
            display: block;
        }
    }
}

.active-icon-menu {
    visibility: visible;
    opacity: 1;
    height: auto;
}