@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
/* ================================================
     BASE AND CSS RESET
   ================================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

::selection {
  background-color: goldenrod;
  color: #121212;
}

body {
  background-color: #121212;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #c0c0c0;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  width: 1170px;
  margin: 100px auto 80px;
}

input,
select,
button {
  border: none;
  outline: none;
  height: 45px;
  border-radius: 4px;
  font-size: 16px;
}

input {
  padding: 0 15px;
  margin-right: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

select {
  padding: 0 10px;
  margin-right: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

button {
  background-color: goldenrod;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  transition: all 0.3s;
  cursor: pointer;
}
button:hover {
  background-color: #c8981d;
  transform: translateY(-2px);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
}
button:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

/* ================================================
     TYPOGRAPHY
   ================================================ */
.heading-2, .heading-1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: goldenrod;
}
.heading-1 a:link,
.heading-1 a:visited {
  color: goldenrod;
  text-decoration: none;
}

.heading-2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.95);
}

.disabled {
  opacity: 0.5;
  cursor: inherit;
}
.disabled:hover {
  background-color: goldenrod;
  transform: translateY(0);
  box-shadow: none;
}
.disabled:active {
  transform: translateY(0);
  box-shadow: none;
}

.error,
.warning {
  grid-column: 1/-1;
  margin-top: 10px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  text-align: center;
  color: goldenrod;
}

.search-form {
  position: relative;
  margin: 0 auto 30px;
  text-align: center;
}
.search-form__logo {
  width: auto;
  height: 26px;
  margin-right: 10px;
}
.search-form__heading-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.search-form__heading-1 a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form input {
  max-width: 260px;
}
.search-form select {
  max-width: 140px;
}
.search-form button {
  width: 100px;
}

.details {
  margin: 50px 0 30px;
}

.output {
  display: grid;
  grid-template-columns: repeat(4, 282px);
  grid-gap: 14px;
}
.output__found {
  grid-column: 1/-1;
  margin: 0 0 15px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
}

.item {
  position: relative;
  cursor: pointer;
}
.item:hover .item__img {
  opacity: 0.15;
}
.item:hover .item__heading {
  opacity: 1;
  visibility: visible;
}
.item:hover .item__favorite {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  background: center/cover no-repeat url(../img/heart-empty.svg);
  z-index: 30;
}
.item:hover .item__favorite--full {
  background: center/cover no-repeat url(../img/heart.svg);
}
.item__favorite {
  display: none;
}
.item__img {
  width: 100%;
  height: auto;
  transition: all 0.3s;
}
.item__heading {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding: 0 10px;
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
  color: goldenrod;
}

.details {
  width: 70%;
  margin: 65px auto;
}

.item-details {
  display: flex;
}
.item-details__desc {
  margin-top: 30px;
}
.item-details__favorite {
  display: inline-block;
  position: relative;
  top: 5px;
  left: 0;
  margin-left: 8px;
  width: 28px;
  height: 28px;
  background: center/cover no-repeat url(../img/heart-empty.svg);
  cursor: pointer;
}
.item-details__favorite--full {
  background: center/cover no-repeat url(../img/heart.svg);
}
.item-details__img {
  margin-right: 30px;
  max-width: 282px;
  width: 100%;
  transition: all 0.2s;
}
.item-details__metadata, .item-details__synopsis, .item-details__starring {
  margin-top: 16px;
}
.item-details__metadata {
  font-size: 14px;
  color: #a3a3a3;
}
.item-details__synopsis {
  line-height: 22px;
  color: rgba(255, 255, 255, 0.95);
}
.item-details__starring {
  line-height: 22px;
  color: #a3a3a3;
}
.item-details__starring span {
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.95);
}

.pagination {
  margin-top: 90px;
}
.pagination__more, .pagination__clear-btn {
  display: none;
  width: 150px;
  margin: 0 auto;
}

.favorite {
  position: absolute;
  top: 22px;
  right: 75px;
}
.favorite__btn {
  height: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.favorite__btn:hover {
  background-color: inherit;
  transform: translateY(0);
  box-shadow: none;
  color: rgba(255, 255, 255, 0.6);
}
.favorite__btn:active {
  transform: translateY(0);
  box-shadow: none;
}