/* Slider Image Transition */
@-webkit-keyframes ProgressSlide {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}
@keyframes ProgressSlide {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}


@-webkit-keyframes HeaderSliderMove {
    from {
        background-position: left -40px top,
                             left 40px top;
    }
    to { 
        background-position: left 0px top,
                             left 0px top;
    }
}
@keyframes HeaderSliderMove {
    from {
        background-position: left -40px top,
                             left 40px top;
    }
    to { 
        background-position: left 0px top,
                             left 0px top;
    }
}