.header {
    background: url(../img/hero-bg.jpg) top / cover no-repeat;
    background-color: #232323;
    padding: 267px 10px 121px;
    text-align: center;

    @media only screen and (max-width: 480px) {
        padding: 220px 10px 150px;
    }

    &__heading-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__link {
        margin-bottom: 7px;
    }

    &__heading-1 {

        @media only screen and (max-width: 550px) {
            font-size: 40px;
        }

        @media only screen and (max-width: 400px) {
            font-size: 36px;
        }
    }

    &__subtitle {
        font-size: 22px;
        letter-spacing: 5.8px;
        color: #fff;
        margin-bottom: 47px;

        @media only screen and (max-width: 550px) {
            font-size: 17px;
        }

        @media only screen and (max-width: 400px) {
            font-size: 14px;
        }
    }

    &__search-form {
        background-color: #fff;
        max-width: 650px;
        width: 100%;
        height: 60px;
        margin: 0 auto 121px;
        padding: 2px;
        display: flex;
        transition: box-shadow .4s ease-out;
        position: relative; // For @media 450px .btn

        &:hover {
            box-shadow: 0 9px 10px 0 rgba(0,0,0, .4);
        }
    }

    &__search-input {
        @extend %border-none;
        max-width: 77.4%;
        width: 100%;
        font-size: 14px;
        letter-spacing: 2.5px;
        text-align: center;
        color: #666;

        @media only screen and (max-width: 480px) {
            max-width: 100%;
        }

        &:invalid ~ .header__error {
            visibility: visible;
        }

        &::placeholder {
            font-size: 12.2px;

            letter-spacing: 2.5px;
            text-align: center;
            color: #999;
        }

        &:focus {
            background-color: darken(#fff, 6%);
        }
    }

    &__error {
        position: absolute;
        bottom: -24px; left: 9px;
        visibility: hidden;
        color: gold;
    }

    &__search-btn {
        @extend %border-none;
        min-width: 145px;
        background-color: #5474fd;
        font-family: $font-secondary;
        font-size: 14px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        color: #fff;
        padding: 1px 11px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: background-color .3s;

        @media only screen and (max-width: 480px) {
            min-width: 145px;
            position: absolute;
            top: 78px; left: 50%;
            transform: translateX(-50%);
        }

        &:hover {
            background-color: darken(#5474fd, 5%);
        }

        &:active {
            background-color: darken(#5474fd, 7%);
        }

        i {
            font-size: 26px;
            margin-left: 10px;
        }
    }

    &__scroll {
        font-size: 14px;
        letter-spacing: 2.2px;
        color: #fff;

        @media only screen and (max-width: 480px) {
            display: none;
        }
    }

    &__angle {
        display: block;
        font-size: 33px;
        transform: rotate(90deg);
    }

}
