/* ================================================
     TYPOGRAPHY
   ================================================ */

%heading {
    font-family: $font-primary;
    font-weight: 700;
    text-align: center;
}

.heading-1 {
    @extend %heading;
    font-size: 5.4rem;
    letter-spacing: .864rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
}

.heading-2 {
    @extend %heading;
    font-size: 3.4rem;
    letter-spacing: .544rem;
    text-transform: uppercase;
    color: $color-grey;

    @media only screen and (max-width: 28.125em) { // 450px
        font-size: 2.7rem;
    }

    &--light {
        color: #fff;
    }
}

.heading-3 {
    @extend %heading;
    font-size: 2rem;
    letter-spacing: .32rem;
    text-transform: uppercase;
    color: #3c3c3c;
}

.paragraph {
    max-width: 54.6rem;
    width: 100%;
    margin: 0 auto 2.1rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: center;
    color: $color-grey;
    // margin-bottom: 2.1rem;

    &--light {
        color: #fff;
    }
}


/* ================================================
     COMPONENTS
   ================================================ */

.container {
    max-width: 93rem;
    width: 100%;
    margin: 0 auto;
}

.logo {

    &__img {

        @media only screen and (max-height: 37.5em) { // height 600px
            width: 70%;
        }

        &--footer {
            width: 3.5rem;
            height: 3.7rem;
        }
    }
}

.btn {
    outline: none;
    max-width: 39.5rem;
    width: 100%;
    height: 5.8rem;
    border: solid 2px $color-grey;
    background-color: $color-grey;

    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .256rem;
    text-transform: uppercase;
    color: #fff;
    transition: background-color .2s,
                transform .2s;

    &:hover {
        background-color: darken($color-grey, 10%);
    }

    &:active {
        background-color: darken($color-grey, 10%);
        transform: translateY(.2rem);
    }
}


/* ================================================
     ANIMATION
   ================================================ */

@keyframes scroll { /* ANIMATION SCROLL */
    0% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, 10%);
    }

    100% {
        transform: translate(-50%, 0);
    }
}