.about-fitness {
    padding-top: 130px;

    &__heading-box {
        
    }

    &__heading-2 {
    }

    &__subtitle {
    }

    &__gallery {
        width: 100%;
        // height: 100%;
        margin-top: 92px;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #000;

    &__item {
        overflow: hidden;
        // transition: all 1s;
        
        &:hover,
        &:active {
            // opacity: .3;
            img {
                // top: 70px; left: 70px;
                transform: scale(1.01) translate(70px, 70px);
            }
        }
    }

    &__item--3 {
        grid-column: 3 / span 2;
    }

    &__item--4 {
        grid-column: 1 / span 2;
    }

    img {
        // position: relative;
        transition: all .5s cubic-bezier(.51,.37,.15,.88);
    }
}