.bmi {
    padding: 100px 0;

    &__container {
        display: flex;
    }

    &__body {
        padding: 0 25px;
    }

    &__heading-2 {
    }

    &__descriptio {
    }

    &__form {
    }

    &__info {
        padding: 0 25px;
    }
}