.classes {
    padding: 135px 0;
    background-color: $color-grey-dark-3;

    &__heading-2 {
        
    }

    &__container {
    }

    &__tabs {
        text-align: center;
        list-style: none;
        margin: 58px 0 31px;
        display: block;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 100px;
        }
    }

    &__btn {
        font-size: $font-size - 4px;
        font-weight: inherit;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $color-white;
        background-color: transparent;
    }

    &__bottom-line {
    }

    &__left-line {
    }

    &__table {
        background-color: $color-black;
        box-shadow: 0 0 10.92px 1.08px rgba(231,217,202,.05);

        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;

            text-align: center;
        }

        th {
            padding: 34px 5px;
            font-size: $font-size - 4px;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $color-white;
        }

        tr {
            &:last-child {
                td {
                    border-bottom: none;
                }
            }

            td {
                &:first-child {
                    font-family: $font-secondary;
                    font-size: $font-size - 1px;
                    font-weight: 300;
                    letter-spacing: 2px;
                    color: $color-white;
                }
            }
        }

        td {
            padding: 18px 5px;
            border: 1px solid #171717;
            border-top: 1px solid #2e2e2e;
            border-bottom: 1px solid #2e2e2e;
        }
    }

    &__header {
        font-size: $font-size - 1px;
        font-weight: 800;
        letter-spacing: .3px;
        text-transform: uppercase;

        &:link,
        &:visited {
            color: $color-white;
        }
    }

    &__author {
        margin-top: 7px;
        font-size: $font-size - 5px;
        letter-spacing: 2.2px;
        text-transform: uppercase;
        color: #dbd2c9;
    }
}