.contact {
    position: relative;

    &__map {
        width: 100%;
        height: 436px;
        background-color: #ccc;
    }

    &__vertical-text {
        position: absolute;
        top: 730px; left: -110px;
    }

    &__box {
        padding: 136px 0 139px;
        // display: flex;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
        column-gap: 30px;
        row-gap: 60px;

        @include breakpoint-custom(1150px) {
            grid-template-columns: 1fr;
        }

        @include breakpoint-custom(860px) {
            grid-template-columns: 1fr;
            padding: 136px 30px 139px;
        }

        @include breakpoint-down-4 {
            padding: 136px 15px 139px;
        }
    }

    &__inner {
        width: 85%;
        margin-left: auto;

        @include breakpoint-custom(1150px) {
            margin-left: 0;
            margin-right: auto;
        }

        @include breakpoint-custom(680px) {
            width: 100%;
        }
    }

    &__heading-box {
        text-align: left;
        
        @include breakpoint-down-7 {
            max-width: 100%
        }
    }

    &__subtitle {
        margin-top: 20px;
        font-family: $font-secondary;
        font-size: $font-size + 2px;
        font-weight: 300;
        line-height: 24px;
        color: $color-grey-dark-1;
    }

    &__address {
        margin-top: 30px;
        display: flex;

        @include breakpoint-custom(560px) {
            flex-direction: column;
        }
    }

    &__item {
        padding-left: 3px;
        font-family: $font-secondary;
        font-size: $font-size - 1px;
        font-weight: 300;
        line-height: 24px;
        color: $color-black;

        &:last-child {
            padding-left: 36px;

            @include breakpoint-custom(560px) {
                padding-left: 0;
                padding-top: 30px;
            }
        }
    }

    &__form {
        max-width: 797px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__input,
    &__textarea {
        padding: 17px 16px;
        margin-bottom: 25px;
    }

    &__input {
        flex-basis: 48%;

        @include breakpoint-custom(600px) {
            flex-basis: 100%;
        }

        &--long {
            flex-basis: 100%;
        }
    }

    &__textarea {
        flex-basis: 100%;
        height: 246px;
        resize: none;
    }

    &__btn {
        margin-top: 13px;
        margin-left: auto;
    }
}