.contact {

    &__map {
        width: 100%;
        height: 436px;
        background-color: #ccc;
    }

    &__container

    &__box {
        padding: 136px 0 139px;
        display: flex;
    }

    &__info {
        padding-right: 15px;
    }

    &__inner {
        width: 85%;
        margin-left: auto;
    }

    &__heading-box {
        text-align: left;
    }
    
    &__heading-2 {

    }

    &__subtitle {
        margin-top: 20px;
        font-family: $font-secondary;
        font-size: $font-size + 2px;
        font-weight: 300;
        line-height: 24px;
        color: $color-grey-dark-1;
    }

    &__address {
        margin-top: 30px;
        display: flex;
    }

    &__item {
        padding-left: 3px;
        font-family: $font-secondary;
        font-size: $font-size - 1px;
        font-weight: 300;
        line-height: 24px;
        color: $color-black;

        &:last-child {
            padding-left: 36px;
        }
    }

    &__form {
        max-width: 797px;
        padding-left: 15px;
        // flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__input,
    &__textarea {
        padding: 17px 16px;
        margin-bottom: 25px;
    }

    &__input {
        flex-basis: 48%;

        &--long {
            flex-basis: 100%;
        }
    }

    &__textarea {
        flex-basis: 100%;
        height: 246px;
        resize: none;
    }

    &__btn {
        margin-top: 13px;
        margin-left: auto;
    }
}
.about-fitness {

    &__heading-box {
    }

    &__heading-2 {
    }

    &__subtitle {
    }
}
.heading-box {
}
.heading-2 {
}
.subtitle {
}
