@mixin program-bg($number) {
    background: center/cover no-repeat url(../img/program-#{$number}.jpg);
}

.program {
    display: flex;
    flex-wrap: wrap;
    
    &__item {
        padding: 99px 0 122px;
        flex-basis: 50%;

        &--1 {
            @include program-bg(1);
        }

        &--2 {
            @include program-bg(2);
        }

        &--3 {
            @include program-bg(3);
        }

        &--4 {
            @include program-bg(4);
        }
    }

    &__heading-3 {
        text-align: center;
    }

    &__description {
        width: 70%;
        margin: 26px auto;

        font-family: 'Poppins', sans-serif;
        font-size: $font-size + 2px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        color: $color-white;
    }

    &__btn {
        margin-top: 39px;
    }
}