@mixin item-bg($number, $color) {
    background-image:
                linear-gradient(to right, $color, $color),
                url(../img/service-bg-#{$number}.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


.services {
    background-color: #141414;

    &__box {
        display: flex;

        @include breakpoint-custom(1160px) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        text-align: center;
        padding: 71px 4.4% 80px;
        overflow: hidden;

        @include breakpoint-custom(1350px) {
            padding: 71px 1% 80px;
        }

        &:hover {
            .services__photo {
                transform: scale(1.04);
            }

            .services__heading-highlighted {
                width: 100%;
                left: 0;
            }
        }
    }

    &__link {
        position: absolute;
        top: 0; left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 15;
    }

    &__photo {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        transition: transform .7s cubic-bezier(.39,.18,0,.85);
        z-index: 5;

        &--1 {
            @include item-bg(1, rgba(0,0,0, .57));
        }

        &--2 {
            @include item-bg(2, rgba(219,210,201, .9));
        }

        &--3 {
            @include item-bg(3, rgba(0,0,0, .57));
        }
    }

    &__text-holder {
        position: relative;
        max-width: 823px;
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        z-index: 10;
    }

    &__icon {
        display: inline-block;
    }

    &__heading-3 {
        position: relative;
        // margin-top: 22px;
        margin: 22px auto 0;
        padding: 0 10px;
        max-width: 378px;
        width: 100%;
        overflow: hidden;

        @include breakpoint-down-4 {
            max-width: 300px;
        }
    }

    &__heading-inner {
        position: relative;
        z-index: 10;

        @include breakpoint-down-4 {
            font-size: $font-size + 16px;
        }
    }

    &__heading-highlighted {
        position: absolute;
        top: 0; left: auto;
        right: 0px;
        display: block;
        width: 0;
        height: 100%;
        background-color: $color-black;
        z-index: 5;
        transition: .5s cubic-bezier(.7,.13,.26,.88);

        &--light {
            background-color: $color-white;
        }
    }

    &__description {
        margin: 27px 0 4px;
        font-size: $font-size + 2px;
        line-height: 1.3;
        color: #6d6d6d;

        &--light {
            color: #a6a6a6;
        }
    }

    &__btn {
        margin-top: 33px;
    }
}