// FONTS
$font-primary: 'PT Sans', sans-serif;

// COLORS
$color-primary: #02995b;
$color-secondary: #fdde7e;
$color-grey-dark: #333;

// BASE
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

::selection {
  background-color: $color-secondary;
  color: $color-grey-dark;
}

body {
    background-color: $color-secondary;
    font-family: $font-primary;
    color: $color-grey-dark;
    font-weight: 400;
}