//   IMPORT FONTS
// ==================================================

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');


//   FONTS
// ==================================================

$font-primary: 'Lato', sans-serif;
$font-size: 16px;
$font-weight: 400;


//   COLORS
// ==================================================

$color-primary: #121212;
$color-grey: #c0c0c0;


/* ================================================
     BASE AND CSS RESET
   ================================================ */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

::selection {
    background-color: goldenrod;
    color: $color-primary;
}

body {
    background-color: $color-primary;
    font-family: $font-primary;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color-grey;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    // max-width: 1170px;
    width: 1170px;
    margin: 100px auto 80px;
}

input,
select,
button {
    border: none;
    outline: none;
    height: 45px;
    border-radius: 4px;
    font-size: $font-size;
}

input {
    padding: 0 15px;
    margin-right: 10px;
    width: 100%;
    background-color: rgba(#fff, .6);
}

select {
    padding: 0 10px;
    margin-right: 10px;
    width: 100%;
    background-color: rgba(#fff, .6);
}

button {
    background-color: goldenrod;
    font-weight: $font-weight + 300;
    text-transform: uppercase;
    font-size: $font-size - 3px;
    transition: all .3s;

    &:hover {
        background-color: darken(goldenrod, 4%);
        transform: translateY(-2px);
        box-shadow: 0 15px 10px rgba(0,0,0, .6);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 5px 10px rgba(0,0,0, .6);
    }
}