.search-form {
    margin: 0 auto 30px;
    text-align: center;

    &__logo {
        height: 26px;
        margin-right: 10px;
    }

    &__heading-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        max-width: 260px;
    }

    select {
        max-width: 140px;
    }

    button {
        width: 100px;
    }
}

.details {
    margin: 50px 0 30px;
}

.output {
    display: grid;
    grid-template-columns: repeat(4, 282px);
    grid-gap: 14px;

    &__found {
        grid-column: 1 / -1;
        margin: 0 0 15px;
        font-size: $font-size + 6px;
        font-weight: $font-weight - 100;
        letter-spacing: 1px;
        text-align: center;
    }

    &__item {

    }
}


.item {
    position: relative;
    cursor: pointer;

    &:hover {
        
        .item__img {
            opacity: .15;
        }

        .item__heading {
            opacity: 1;
            visibility: visible;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        transition: all .3s;
    }

    &__heading {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 50px; left: 50%;
        transform: translate(-50%);
        width: 100%;
        padding: 0 10px;
        font-size: $font-size + 2px;
        text-align: center;
        color: rgba(#fff, .8);
        transition: all .3s;
        color: goldenrod;
    }
}


.details {
    width: 70%;
    margin: 65px auto;

    &__item {
    }
}
.item-details {
    display: flex;

    &__desc {
        margin-top: 30px;
    }

    &__img {
        margin-right: 30px;
        max-width: 282px;
        width: 100%;
    }

    &__heading-2 {
    }

    &__metadata,
    &__synopsis,
    &__starring {
        margin-top: 16px;
    }

    &__metadata {
        font-size: $font-size - 2px;
        color: #a3a3a3;
    }

    &__synopsis {
        line-height: 22px;
        color: rgba(#fff, .95);
    }

    &__starring{
        line-height: 22px;
        color: #a3a3a3;

        span {
            margin-left: 5px;
            color: rgba(#fff, .95);
        }
    }
}


.pagination {
    display: none;
    margin-top: 90px;
    text-align: center;

    &__more {
        width: 150px;
    }
}