.container {
    min-height: calc(100vh - 3rem);
    background-color: #3b3f45;
    margin: 1.5rem;
    padding: 0 0 1.7rem 0;
}

.header {
    background-color: $color-grey;
    margin-bottom: 4.5rem;
    padding: 2rem .5rem;
}

.main {
    width: 60%;
    margin: 0 auto;
    font-size: 2.4rem;

    @media only screen and (max-width: 1100px) {
        width: 75%;
    }

    @media only screen and (max-width: 900px) {
        width: 80%;
    }

    @media only screen and (max-width: 700px) {
        width: 90%;
    }

    @media only screen and (max-width: 550px) {
        font-size: 2rem;
    }
}

.shopping-list {
    list-style: none;

    &__item {
        background-color: $color-primary;
        transition: background-color border .3s ease-out;
        cursor: pointer;

        &:nth-child(odd) {
            background-color: $color-primary-light;
        }

        label {
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            padding: 1.5rem;

            &:hover {
                background-color: #625e77;
                border-top: 3px solid #fff;
                border-bottom: 3px solid #fff;
            }
    
            &:active {
                background-color: $color-secondary;
            }
        }

        input[type=checkbox] {
            transform: translateY(-20%) scale(1.7);
            cursor: inherit;
    
            &:checked + .shopping-list__text {
                text-decoration: line-through;
                color: #cdc6c6;
            }
    
            @media only screen and (max-width: 550px) {
                transform: translateY(-14%) scale(1.5);
            }
        }

        span {
            font-size: 1.5rem;
            color: #cdc6c6;

            &::before {
                content: "( ";
            }

            &::after {
                content: " )";
            }
        }
    }

    &__text {
        display: inline;
        margin-left: 1rem;
        vertical-align: middle;
    }
}

.footer {
    width: 60%;
    background-color: $color-grey;
    margin: 4rem auto;
    padding: 2rem .5rem;
}