.news {
    padding: 140px 0 110px;
    background-image: url(../img/news-bg.png),
                      linear-gradient( 45deg, rgb(60,127,212) 0%, rgb(36,204,250) 100%);
    background-repeat: no-repeat;
    background-position: bottom;
      
    &__heading-3 {
    }

    &__container {
        // padding left right 30px
        max-width: 1200px + 60px;
        transform: translateX(15px);

        @media only screen and (max-width: 1400px) {
            max-width: 1010px;
        }

        @media only screen and (max-width: 1150px) {
            max-width: 830px;
        }

        @include tablet {
            max-width: 520px;
        }

        @media only screen and (max-width: 670px) {
            transform: translateX(0);
        }

        @media only screen and (max-width: 600px) {
            max-width: 430px;
        }
    }

    &__slider {
        margin-top: 90px;
    }
}

.slider-news {
    &__slide {
        display: block;
        max-width: 370px;
        width: 100%;
        background-color: $color-white;

        &:not(:last-child) {
            margin-right: 30px;
        }

        @media only screen and (max-width: 1400px) {
            max-width: 460px;
        }

        @media only screen and (max-width: 1150px) {
            max-width: 370px;
        }

        @include tablet {
            max-width: 460px;
        }

        @media only screen and (max-width: 600px) {
            max-width: 370px;
        }

        &:hover {
            .slider-news__img {
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0; left: 0;
                    background-color: #000;
                    opacity: .3;
                }

                &::after {
                    content: '';
                    display: block;
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    top: 50%; left: 50%;
                    transform: translate(-50%, -50%);
                    border: 1px solid $color-white;
                    border-radius: 50%;
                    background: center no-repeat url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAO0lEQVRIiWP8//8/AwkApJiRWOVMpJhMKhg1fNTwUcMpBCzQLE0KIFo9CyllxWjZMmr4qOHDxnAGBgYAQ1gHLocvVtQAAAAASUVORK5CYII=');
                }
            }
        }
        
    }

    &__img {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__body {
        padding: 22px 20px 30px;
    }

    &__title {
        
    }

    &__description {
        margin-top: 2px;
        // letter-spacing: -.1px;
        // line-height: 1.8;

        font-family: $font-secondary;
        font-size: $font-size + 2px;
        line-height: 1.67;
        color: #4b5562;
    }

    &__author-box {
        margin-top: 32px;
        display: flex;
        align-items: center;
    }

    &__avatar {
        margin-right: 20px;
        max-width: 60px;
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

    &__author {
    }

    &__name {
        font-size: $font-size + 2px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: -.3px;
        color: $color-grey-dark-1;
    }

    &__date {
        margin-top: 15px;
        font-size: $font-size - 2px;
        color: #55b7ff;
    }

    .slick-dots {
        margin-top: 60px;
        position: static;
        display: flex;
        justify-content: center;
        transform: translateX(-15px);
        
        li {
            display: inline-block;

            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 40px;
            }
        }
    }


    /* Arrows */
    .slick-arrow {
        display: block !important;
        display: block;
        position: absolute;
        top: 44%;
        transform: translateY(-50%);

        width: 40px;
        height: 40px;

        cursor: pointer;

        padding: 0;
        border: 1px solid rgba($color-white, .5);
        border-radius: 50%;
        
        font-size: 0px;
        color: transparent;
        transition: all .3s;

        z-index: 10;

        @media only screen and (max-width: 550px) {
            display: none !important;
        }

        &::before {
            display: block;
            font-family: 'icons' !important;
            font-size: $font-size - 2px;
            color: $color-white;
        }

        &:hover,
        &:focus {
            opacity: .6;
        }
    }

    .slick-prev {
        left: -99px;

        @media only screen and (max-width: 670px) {
            left: -59px;
        }

        &::before {
            content: "\e901";
        }
    }
    
    .slick-next {
        right: -71px;

        @media only screen and (max-width: 670px) {
            right: -59px;
        }

        &::before {
            content: "\e900";
        }
    }
}