.container {
    margin: 10rem auto;

    @media only screen and (max-width: 53.125em) { // 850px
        margin: 6rem auto;
    }

    @media only screen and (max-width: 37.5em) { // 600px
        margin: 4rem auto;
    }
}

.description {
    max-width: 50%;
    margin: 0 auto 3.4rem auto;
    text-align: center;

    @media only screen and (max-width: 65.625em) { // 1050px
        max-width: 60%;
    }

    @media only screen and (max-width: 56.25em) { // 900px
        max-width: 75%;
    }

    @media only screen and (max-width: 43.75em) { // 700px
        max-width: 85%;
    }
}


/* ================================================
     POSTS
   ================================================ */

.posts {
    max-width: 117rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 4rem;

    &__item {
        flex-basis: 37rem;
        flex-shrink: 0;
        height: 31rem;
        position: relative;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        margin: 1rem;

        @media only screen and (max-width: 25em) { // 400px
            flex-basis: 100%;
        }

        &--1 {
            background-image: linear-gradient(
                to bottom,
                transparent,
                rgba(0,0,0, .65)),
            url(../img/post-1.jpg);
            background-size: cover;
            background-position: center center;
        }

        &--2 {
            background-image: linear-gradient(
                to bottom,
                transparent,
                rgba(0,0,0, .65)),
            url(../img/post-2.jpg);
            background-size: cover;
            background-position: center center;
        }

        &--3 {
            background-image: linear-gradient(
                to bottom,
                transparent,
                rgba(0,0,0, .65)),
            url(../img/post-3.jpg);
            background-size: cover;
            background-position: center center;
        }

        .heading-2 {
            position: absolute;
            bottom: 5.6rem;
            left: 2rem;
        }
    }

    &__date {
        position: absolute;
        top: 3rem;
        left: 3rem;

        background-color: rgba(#262626, .5);
        border-radius: .5rem;
        padding: .2rem .8rem .5rem;

        font-size: 3.2rem;
        font-weight: 700;
        text-align: center;

        span {
            display: block;
            font-size: 2.1rem;
            text-transform: uppercase;
        }
    }

    &__author {
        position: absolute;
        bottom: 2.4rem;
        left: 2rem;
        font-size: 1.3rem;
    }
}