// FONTS
$font-primary: 'Montserrat';
$font-secondary: 'PT Sans';


// COLORS
$color-primary: #0ec8cb;
$color-grey: #f7f7f7;



// BASE
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

::selection {
  background-color: $color-primary;
  color: #fff;
}

body {
    background-color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    color: #777;
    font-weight: 400;
}

a {
    &:link,
    &:visited {
        color: #00c7fc;
        text-decoration: none;
    }
    
    &:hover,
    &:active {
        color: #009fc9;
    }
}


// MIXINS
// @include clearfix;
@mixin clearfix {

  &::after {
      content: "";
      display: table;
      clear: both;
  }

}