#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .h2_about {
        font-size: 50px;
        font-weight: 300;
        line-height: 0.7;
        text-align: center;
        padding-bottom: 69px;
        padding-top: 98px;
        background-image: linear-gradient(to right, #3695ff, #3564fc);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    p.p_about {
        text-align: center;
        font-size: 16px;
        color: #5a5a5a;
        line-height: 2.19;
        padding-bottom: 115px;
    }
}
