.AddItem {
    max-width: 400px;
    width: 100%;
    margin-top: -5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

input {
    outline: none;
    border: none;
    padding: 10px 12px;
    width: 100%;
    border: 1px solid goldenrod;
    border-right: none;
}

button {
    outline: none;
    border: none;
    padding: 11px 30px;
    background-color: goldenrod;
    transition: background .3s;
    cursor: pointer;

    &:hover {
        background: rgba(#000, .3);
    }
}