.card {
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 170px);
    justify-content: center;
    justify-items: center;
    gap: 30px;

    &__item {
        perspective: 150rem;
        -moz-perspective: 150rem;
        width: 100%;
        height: 240px;

        &:hover .card__front {
            transform: rotateY(-180deg);
        }
    
        &:hover .card__back-box {
            transform: rotateY(0);
        }
    }

    &__side {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all .8s ease;
    }

    &__front {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background: center/cover no-repeat url(../../img/front.jpg);
        background-size: 88%;

        background-color: whitesmoke;
        border-radius: 8px;
        box-shadow: 0 12px 12px rgba(0,0,0, .3);
    }

    &__back-box {
        transform: rotateY(180deg);
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 240px;
        background-color: whitesmoke;
        border-radius: 8px;
        box-shadow: 0 12px 12px rgba(0,0,0, .3);
    }

    &__back {
        width: 150px;
        height: 90%;
        border-radius: 8px;

        &--red {
            border: 1.4px solid #9b1e22;
        }

        &--black {
            border: 1.4px solid #000;
        }
    }


   
    $hearts: center/cover no-repeat url(../../img/hearts.svg);
    $rhombus: center/cover no-repeat url(../../img/rhombus.svg);
    $spades: center/cover no-repeat url(../../img/spades.svg);
    $clubs: center/cover no-repeat url(../../img/clubs.svg);

    @mixin icon($icon) {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 35px;
        height: 35px;
        background: $icon;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -94px; left: -66px;
            width: 35px;
            height: 35px;
            background: $icon;
            background-size: 16px 16px;
            background-color: whitesmoke;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -94px; right: -67px;
            transform: rotate(180deg);
            width: 35px;
            height: 35px;
            background: $icon;
            background-size: 16px 16px;
            background-color: whitesmoke;
        }
    }

    &__icon {

        &--hearts {
            @include icon($hearts);
        }

        &--rhombus {
            @include icon($rhombus);
        }

        &--spades {
            @include icon($spades);
        }

        &--clubs {
            @include icon($clubs);
        }
    }
}