@font-face {
  font-family: 'icons';
  src:  url('icons.eot?lo3btl');
  src:  url('icons.eot?lo3btl#iefix') format('embedded-opentype'),
    url('icons.ttf?lo3btl') format('truetype'),
    url('icons.woff?lo3btl') format('woff'),
    url('icons.svg?lo3btl#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e902";
}
.icon-quote-left-solid:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-social-facebook:before {
  content: "\e905";
}
.icon-social-linkedin:before {
  content: "\e906";
}
.icon-social-pinterest:before {
  content: "\e907";
}
.icon-social-twitter:before {
  content: "\e908";
}
.icon-social-youtube:before {
  content: "\e909";
}
