.bg-border {
    border: 1.35rem solid $color-secondary;
}

.container {
    max-width: 120rem;
    width: 70%;
    background-color: $color-primary;
    margin: 0 auto;
    padding-top: 2.9rem;

    // 1300px
    @media only screen and (max-width: 81.25em) {
        width: 85%;
    }

    // 1000px
    @media only screen and (max-width: 62.5em) {
        width: 90%;
    }
}

.main {
    background-color: #fff;
}

.weather-list {
    list-style: none;
    font-size: 0;
    border: .29rem solid #fff;
    transition: opacity .3s ease;

    // При наведенні на ul додає прозорість всім елементам крім наведеного
    &:hover .weather-list__item:not(:hover) {
        opacity: .7;
    }

    &__item {
        width: calc(100% / 4);
        display: inline-block;
        border: .29rem solid #fff;
        padding: 3.1rem 0;
        background-color: $color-primary;
        transition: background-color border .3s ease-out;

        &--1 {
            width: 50%;
        }

        &--2 {
            width: 25%;
            background-color: #33cccc;
        }

        &--3 {
            width: 25%;
            background-color: #996699;
        }

        &--4 {
            width: 25%;
            background-color: #c24747;
        }

        &--5 {
            width: 25%;
            background-color: #e2674a;
        }

        &--6 {
            width: 25%;
            background-color: #ffcc66;
        }

        &--7 {
            width: 25%;
            background-color: #99cc99;
        }

        &--8 {
            width: 25%;
            background-color: #669999;
        }

        &--9 {
            width: 50%;
            background-color: #cc6699;
        }

        &--10 {
            width: 25%;
            background-color: #339966;
        }

        &--11 {
            width: 100%;
            background-color: #666699;
        }

        p {
            font-size: 2.5rem;
            text-align: center;
            opacity: .7;
        }

        // 750px
        @media only screen and (max-width: 46.875em) {
            width: 50%;

            &:last-child {
                width: 100%;
            }
        }

        // 500px
        @media only screen and (max-width: 31.25em) {
            width: 100%;
        }
    }

    &__icon {
        font-size: 4.1rem;
        vertical-align: middle;
    }
}

.footer {
    font-size: 2.2rem;
    margin-top: 3rem;
    padding-bottom: 14rem;
}