@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
/* ================================================
     BASE AND CSS RESET
   ================================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}

::selection {
  background-color: #3c3c3c;
  color: #fff;
}

body {
  font-family: "Lato", sans-serif;
  color: #3c3c3c;
  font-weight: 300;
}

.fieldset {
  margin: 0 1.5rem;
  padding: 5.1rem 2rem 0;
  border: 0.2rem solid #3c3c3c;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .fieldset {
    padding: 3.8rem 2rem 0;
  }
}
@media only screen and (max-width: 28.125em) {
  .fieldset {
    padding: 3.2rem 2rem 0;
  }
}
.fieldset--light {
  border: 0.2rem solid #fff;
}

legend {
  padding: 0 12.5%;
}
@media only screen and (max-width: 28.125em) {
  legend {
    padding: 0 9%;
  }
}

/* ================================================
     TYPOGRAPHY
   ================================================ */
.heading-3, .heading-2, .heading-1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
}

.heading-1 {
  font-size: 5.4rem;
  letter-spacing: 0.864rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #fff;
}

.heading-2 {
  font-size: 3.4rem;
  letter-spacing: 0.544rem;
  text-transform: uppercase;
  color: #3c3c3c;
}
@media only screen and (max-width: 28.125em) {
  .heading-2 {
    font-size: 2.7rem;
  }
}
.heading-2--light {
  color: #fff;
}

.heading-3 {
  font-size: 2rem;
  letter-spacing: 0.32rem;
  text-transform: uppercase;
  color: #3c3c3c;
}

.paragraph {
  max-width: 54.6rem;
  width: 100%;
  margin: 0 auto 2.1rem;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: center;
  color: #3c3c3c;
}
.paragraph--light {
  color: #fff;
}

/* ================================================
     COMPONENTS
   ================================================ */
.container {
  max-width: 93rem;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-height: 37.5em) {
  .logo__img {
    width: 70%;
  }
}
.logo__img--footer {
  width: 3.5rem;
  height: 3.7rem;
}

.btn {
  outline: none;
  max-width: 39.5rem;
  width: 100%;
  height: 5.8rem;
  border: solid 2px #3c3c3c;
  background-color: #3c3c3c;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.256rem;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 0.2s, transform 0.2s;
}
.btn:hover {
  background-color: #232323;
}
.btn:active {
  background-color: #232323;
  transform: translateY(0.2rem);
}

/* ================================================
     ANIMATION
   ================================================ */
@keyframes scroll {
  /* ANIMATION SCROLL */
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 10%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
/* ================================================
     HERO
   ================================================ */
.hero {
  height: 100vh;
  background: url(../img/hero.jpg) center/cover no-repeat;
  position: relative;
}
.hero__content {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.hero__logo {
  margin-bottom: 8rem;
}
@media only screen and (max-height: 37.5em) {
  .hero__logo {
    margin-bottom: 3rem;
  }
}
.hero__heading-1 {
  margin-bottom: 3.5rem;
}
@media only screen and (max-height: 37.5em) {
  .hero__heading-1 {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .hero__heading-1 {
    font-size: 3.5rem;
    margin-bottom: 8%;
  }
}
@media only screen and (max-height: 37.5em) {
  .hero__heading-1 {
    margin-bottom: 2rem;
  }
}
.hero__description {
  font-size: 1.5rem;
  line-height: 2.9rem;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  text-align: center;
  color: #fff;
}
.hero__scroll {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  animation: scroll 1s infinite;
}
@media only screen and (max-height: 34.375em) {
  .hero__scroll {
    bottom: 5%;
  }
}
@media only screen and (max-height: 21.875) {
  .hero__scroll {
    bottom: 2%;
  }
}

.about {
  padding: 10% 0 11%;
}
@media only screen and (max-width: 43.75em) {
  .about {
    padding: 15% 0 16%;
  }
}

/* ================================================
     SERVICES
   ================================================ */
.services {
  background: url(../img/services-bg.jpg) center/cover no-repeat;
  padding: 7.8% 0 8.4%;
}
@media only screen and (max-width: 43.75em) {
  .services {
    padding: 12.8% 0 13.4%;
  }
}

/* ================================================
     WHAT WE DO
   ================================================ */
.we-do {
  padding: 7.15% 0 7.18%;
}
@media only screen and (max-width: 75em) {
  .we-do {
    padding: 9.15% 0 9.18%;
  }
}
@media only screen and (max-width: 43.75em) {
  .we-do {
    padding: 14.15% 0 14.18%;
  }
}
.we-do__icon {
  font-size: 8.3rem;
  text-align: center;
  margin: 5.6rem 0 3.3rem;
}
@media only screen and (max-width: 31.25em) {
  .we-do__icon:first-child {
    margin: 4rem 0 3.3rem;
  }
}
.we-do__icon--development {
  font-size: 7.5rem;
  margin-top: 10.6rem;
}
.we-do__icon--management {
  font-size: 9.1rem;
  margin-top: 9.5rem;
}
.we-do__heading-3 {
  margin-bottom: 2.7rem;
}
.we-do__paragraph {
  font-size: 1.4rem;
}
.we-do fieldset {
  padding: 5.1rem 2rem 7.7rem;
}
@media only screen and (max-width: 37.5em) {
  .we-do fieldset {
    padding: 5.1rem 2rem 5rem;
  }
}

/* ================================================
     GALLERY
   ================================================ */
.gallery__list {
  display: grid;
  grid-template-columns: calc(28.5% - 1rem) 43% calc(28.5% - 1rem);
  grid-gap: 1rem;
}
@media only screen and (max-width: 53.125em) {
  .gallery__list {
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  }
}
.gallery__item {
  height: 23.7rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.gallery__item:nth-child(1) {
  background-image: url("../img/gallery-01.jpg");
}
.gallery__item:nth-child(1):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/gallery-01.jpg");
}
.gallery__item:nth-child(2) {
  background-image: url("../img/gallery-02.jpg");
}
.gallery__item:nth-child(2):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/gallery-02.jpg");
}
.gallery__item:nth-child(3) {
  background-image: url("../img/gallery-03.jpg");
}
.gallery__item:nth-child(3):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/gallery-03.jpg");
}
.gallery__item:nth-child(4) {
  background-image: url("../img/gallery-04.jpg");
}
.gallery__item:nth-child(4):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/gallery-04.jpg");
}
.gallery__item:nth-child(5) {
  background-image: url("../img/gallery-05.jpg");
}
.gallery__item:nth-child(5):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/gallery-05.jpg");
}
.gallery__item:nth-child(6) {
  background-image: url("../img/gallery-06.jpg");
}
.gallery__item:nth-child(6):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/gallery-06.jpg");
}
.gallery__title {
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: 0.544rem;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 3.8rem;
  left: 4.1rem;
}
@media only screen and (max-width: 75em) {
  .gallery__title {
    font-size: 2.6rem;
  }
}

/* ================================================
     CONTACT US
   ================================================ */
.contact-us {
  padding: 8.6% 0 4.3%;
}
@media only screen and (max-width: 56.25em) {
  .contact-us {
    padding: 12.6% 0 7%;
  }
}
@media only screen and (max-width: 43.75em) {
  .contact-us {
    padding: 12.6% 0 8.3%;
  }
}
@media only screen and (max-width: 34.375em) {
  .contact-us {
    padding: 12.6% 0 10.3%;
  }
}
@media only screen and (max-width: 25) {
  .contact-us {
    padding: 12.6% 0 15.3%;
  }
}
.contact-us__heading-2 {
  font-size: 3.05rem;
}
@media only screen and (max-width: 23.75) {
  .contact-us__heading-2 {
    font-size: 2.7rem;
  }
}
.contact-us__btn {
  margin: 2.2rem 0 4.8rem;
}

/* ================================================
     FOOTER
   ================================================ */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.5rem;
}
@media only screen and (max-width: 37.5em) {
  .footer {
    margin-top: -1rem;
    margin-bottom: 4.5rem;
  }
}
.footer__logo {
  margin-right: 3.6rem;
}
.footer__copyright {
  font-size: 1.4rem;
  font-weight: 400;
}